:root {
  --dark-background: #0B0D17;
  --text-primary: #FFFFFF;
  --text-accent: #D0D6F9;
  --heading-1-font-size: 150px;
  --heading-2-font-size: 100px;
  --heading-3-font-size: 56px;
  --heading-4-font-size: 32px;
  --heading-5-font-size: 28px;
  --heading-5-char-space: 4.74;
  --subheading-1-font-size: 28px;
  --subheading-2-font-size: 14px;
  --subheading-2-char-space: 2.35;
  --nav-text-font-size: 1rem;
  --nav-text-char-space: 2.7px;
  --nav-text: 2.35;
  --nav-font-family: 'Barlow Condensed';
  --nav-number-space: 11px;
  --generic-padding: 24px;
  --app-logo-size: 40px;
  --menu-togglers-size: 24px;
  --content-container-top-padding: calc(
    var(--app-logo-size) +
    calc(var(--menu-togglers-size) * 2)
  );
}
